.form-header, .elegant-white-skin .card-header {
  background-color: #4c8bf5;
}

#login_row {
  position: absolute;

  top:20%;
  bottom: 0;
  left: 0;
  right: 0;
}

.alert {
  border-radius: 10px;
}
