<!--Modal: Login Form-->
<div bsModal #content="bs-modal" class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-user"></i> Log in</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
            <!--Body-->
            <div class="modal-body">
              <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="form2" class="form-control" [formControl]="_signinForm.controls['username']" [ngClass]="{'invalid' : _signinForm.controls['username'].touched && _signinForm.controls['username'].valid == false,
                                                                                                                            'valid' : _signinForm.controls['username'].touched && _signinForm.controls['username'].valid == true}">
              </div>
  
              <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="form4" class="form-control" [formControl]="_signinForm.controls['password']" [ngClass]="{'invalid' : _signinForm.controls['password'].touched && _signinForm.controls['password'].valid == false,
                                                                                                                                'valid' : _signinForm.controls['password'].touched && _signinForm.controls['password'].valid == true}">
              </div>
  
              <div class="text-xs-center">
                <button class="btn btn-primary waves-effect waves-light" (click)="signin()" [disabled]="!_signinForm.valid">Sign-in</button>
              </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                    <p>Not a member? <a routerLink="/signup">Sign Up</a></p>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login Form-->