<!--Modal: Subscription From-->
<div bsModal #content="bs-modal" class="modal fade" id="modalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-newspaper-o"></i> Subscription form</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">
              <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="form2" class="form-control" [formControl]="_signupForm.controls['username']" [ngClass]="{'invalid' : _signupForm.controls['username'].touched && _signupForm.controls['username'].valid == false,
                                                                                                                            'valid' : _signupForm.controls['username'].touched && _signupForm.controls['username'].valid == true}">
                <label for="form2">Username</label>
              </div>
  
              <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="form4" class="form-control" [formControl]="_signupForm.controls['password']" [ngClass]="{'invalid' : _signupForm.controls['password'].touched && _signupForm.controls['password'].valid == false,
                                                                                                                                'valid' : _signupForm.controls['password'].touched && _signupForm.controls['password'].valid == true}">
                <label for="form4">Password</label>
              </div>
  
              <div class="text-xs-center">
                <button class="btn btn-primary waves-effect waves-light" (click)="signup()" [disabled]="!_signupForm.valid">Submit</button>
              </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Subscription From-->